* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif;
  text-decoration: none;
  transition-duration: 100ms;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media (max-width: 850px) {
  nav {
    display: block;
  }
}
@media (max-width: 850px) {
  nav .brand {
    display: flex;
    justify-content: space-between;
  }
}
nav .brand .logo a {
  display: flex;
  align-items: center;
  color: #8c031a;
}
nav .brand .logo a img {
  max-width: 55px;
  padding: 5px;
}
nav .brand .menu {
  display: none;
  font-size: 24px;
  border: none;
  background-color: #8c031a;
  color: white;
}
@media (max-width: 850px) {
  nav .brand .menu {
    display: block;
    padding: 10px;
  }
}
nav .options {
  flex-grow: 1;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 850px) {
  nav .options {
    display: none;
    height: 0;
  }
  nav .options.active {
    height: fit-content !important;
    display: block !important;
  }
}
nav .options .links {
  margin: 0 auto;
}
@media (max-width: 850px) {
  nav .options .links a {
    display: block;
  }
}
nav .options .social i {
  color: #8c031a;
  font-size: 24px;
}
nav .options .social i:hover {
  color: #1b2031;
}
nav .options a {
  color: #8c031a;
  display: inline-block;
  padding: 10px;
  border-bottom: 0px solid #8c031a;
}
nav .options a:hover {
  border-bottom: 3px solid #8c031a;
  font-weight: 500;
  transform: scale(1.1);
}

.hero {
  padding: 200px 20px;
  background-image: linear-gradient(rgba(27, 32, 49, 0.8705882353), rgba(27, 32, 49, 0.8705882353)), url("https://unsplash.com/photos/gMsnXqILjp4/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjg1NDA4OTIwfA&force=true&w=1920");
  color: white;
}
.hero h2 {
  font-size: 5rem;
  padding: 10px 0;
}
@media (max-width: 390px) {
  .hero h2 {
    font-size: 3rem;
  }
}
.hero .subtitle {
  font: 3rem;
  padding: 20px 0;
}
.hero .cta {
  background-color: #8c031a;
  padding: 30px 40px;
  color: white;
  display: block;
  width: fit-content;
  border-radius: 20px 20px 20px 0px;
}

.grid {
  display: grid;
}

.who .grid {
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 10vw;
  gap: 20px;
  align-items: center;
}
@media (max-width: 850px) {
  .who .grid {
    grid-template-columns: 1fr;
  }
}
.who .grid .col .img img {
  max-width: 100%;
}
@media (max-width: 310px) {
  .who .grid .col .img img {
    display: none;
  }
}
.who .grid .col h3 {
  font-size: 2rem;
  padding: 20px 0;
}
@media (max-width: 305px) {
  .who .grid .col h3 {
    font-size: 1.5rem;
  }
}
.who .grid .col p {
  color: gray;
}

section.services {
  background-color: lightgray;
  padding: 10px 30px;
}
section.services h3 {
  font-size: 2rem;
  padding: 20px 0;
}
section.services p.subtitle {
  margin: 20px 0;
}
section.services .service {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
}
section.services .service .img img {
  display: block;
  max-width: 50px;
  min-width: 50px;
}
section.services .service h4 {
  font-size: 1.2rem;
  padding: 10px 0;
}
section.services .service .divider {
  width: 70px;
  height: 5px;
  background-color: #8c031a;
  border: none;
  margin: 20px 0;
}
section.services .service .content {
  color: gray;
}

.write {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  background-image: linear-gradient(rgba(27, 32, 49, 0.5803921569), rgba(27, 32, 49, 0.5882352941)), url("https://unsplash.com/photos/E8Ufcyxz514/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mnx8YWJzdHJhY3R8ZW58MHx8fHwxNjg1NDMyNDM3fDA&force=true&w=1920");
  color: white;
}
.write h3 {
  font-size: 2.2rem;
  padding: 10px 0;
}
.write .cta {
  background-color: #8c031a;
  padding: 30px 40px;
  color: white;
  display: block;
  width: fit-content;
  border-radius: 20px 0px 20px 0px;
  margin: 20px 0;
}

section.testimonials {
  padding: 50px 20px;
}
section.testimonials h3 {
  font-size: 2.2rem;
  padding: 10px 0;
}
section.testimonials .testimony {
  height: 100%;
  background-color: lightgray;
  text-align: center;
  padding: 10px 30px;
}
section.testimonials .testimony img {
  max-width: 50px;
}
section.testimonials .testimony .name,
section.testimonials .testimony .content {
  margin: 30px 0;
}
section.testimonials .testimony .image {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

footer {
  background-color: #1b2031;
  color: white;
  text-align: center;
  padding: 50px 10vw;
}
footer div:first-of-type {
  text-align: center;
}
footer div:first-of-type a {
  width: 100%;
}
footer a {
  color: inherit;
  display: block;
  width: fit-content;
  text-align: center;
  border-bottom: 0 solid white;
}
footer a:hover {
  border-bottom: 3px solid white;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  padding: 20px 0;
  text-align: center;
}
footer .grid {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 610px) {
  footer .grid {
    grid-template-columns: 1fr;
  }
}
footer .divider {
  margin: 40px 0;
  width: 100%;
  height: 3px;
  background-color: lightgray;
}
footer .flex {
  display: flex;
  text-align: left;
  justify-content: space-between;
}
@media (max-width: 680px) {
  footer .flex {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  footer .flex span,
footer .flex address {
    padding: 10px 0;
  }
}
footer .flex span {
  display: block;
}

.jumbotron {
  padding: 50px 10vw;
}
.jumbotron .img img {
  max-width: 100%;
}

main {
  padding: 50px 5vw;
}
main h3 {
  font-size: 2rem;
  padding: 10px 0;
}
@media (max-width: 390px) {
  main h3 {
    font-size: 1.2rem;
  }
}
main p {
  margin: 20px 0;
}
main .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: white;
  margin: 20px 0;
  text-align: center;
  padding: 0 5vw;
}
@media (max-width: 800px) {
  main .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 470px) {
  main .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .grid .value {
  padding: 20px 10px;
  border-radius: 5px;
}
main .grid .value .name {
  padding: 20px 0;
  font-weight: 600;
  font-size: 28px;
}
main .grid .value .content {
  margin: 30px 0;
}
main .grid .value:hover {
  transform: scale(1.02);
  border-radius: 15px;
}
main .grid .value:nth-of-type(1) {
  background-image: linear-gradient(rgba(27, 32, 49, 0.7450980392), rgba(27, 32, 49, 0.7450980392)), url("https://unsplash.com/photos/75xPHEQBmvA/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Nnx8YWJzdHJhY3R8ZW58MHx8fHwxNjg1NDMyNDM3fDA&force=true&w=1920");
}
main .grid .value:nth-of-type(2) {
  background-image: linear-gradient(rgba(27, 32, 49, 0.7450980392), rgba(27, 32, 49, 0.7450980392)), url("https://unsplash.com/photos/ruJm3dBXCqw/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTJ8fGFic3RyYWN0fGVufDB8fHx8MTY4NTQzMjQzN3ww&force=true&w=1920");
}
main .grid .value:nth-of-type(3) {
  background-image: linear-gradient(rgba(27, 32, 49, 0.7450980392), rgba(27, 32, 49, 0.7450980392)), url("https://unsplash.com/photos/crs2vlkSe98/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mjh8fGFic3RyYWN0fGVufDB8fHx8MTY4NTQ2MzA3Mnww&force=true&w=1920");
}

.team {
  padding: 50px 5vw;
}
.team h3 {
  font-size: 3rem;
  padding: 10px 0;
}
@media (max-width: 390px) {
  .team h3 {
    font-size: 1.5rem;
  }
}
.team .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
}
@media (max-width: 800px) {
  .team .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 470px) {
  .team .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.team .grid .member:hover {
  transform: scale(1.06);
}
.team .grid .member .picture img {
  max-width: 100%;
}
.team .grid .member .name {
  font-weight: 600;
}
.team .grid .member .role {
  text-transform: capitalize;
  color: #8c031a;
}

main.contact {
  background-color: lightgray;
}
main.contact .grid {
  grid-template-columns: repeat(1, 1fr);
}
main.contact .grid .col:nth-of-type(1) {
  background-image: url("../images/map-background.png");
}
main.contact form input, main.contact form textarea {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 20px 10px;
}
main.contact form textarea {
  height: 200px;
  resize: none;
}
main.contact form button {
  background-color: #8c031a;
  color: white;
  border: none;
  width: 100%;
  display: block;
  margin: 20px 0;
  padding: 20px 10px;
}

/*# sourceMappingURL=main.css.map */
